h1 {
  color: rgb(24, 15, 190);
}

img {
  padding: 15px;
  margin: auto;
  border-radius: 10%;
}

main {
  flex-wrap: wrap;
}

Link {
  margin: 15px;
}

.center {
  display: block;
  margin: auto;
  padding-top: 25px;
}
input {
  border: 25px;
  font-style: 100;
  margin: auto;
}
h3 {
  color: darkorchid;
  margin: 15px;
}

a {
  margin: auto;
}

table {
  font-size: small;
  text-align: left;
  border: 2.5px rgba(192, 21, 204, 0.821);
  font-style: 100;
}

tr {
  border: 1px solid rgba(192, 21, 204, 0.821);
  text-align: left;
}

div {
  padding: 5px;
}

.pic {
  color: rgb(93, 15, 97);
  text-align: center;
  margin: auto;
}

.pic:hover {
  color: rgb(13, 157, 18);
}
