h1 {
  color: rgb(24, 15, 190);
}

img {
  padding: 25px;
  margin: auto;
  border-radius: 15%;
}

Link {
  margin: 15px;
}

.center {
  display: block;
  margin: auto;
  padding-top: 25px;
}
input {
  border: 25px;
  font-style: 100;
  margin: auto;
}
h3 {
  color: darkorchid;
  margin: 15px;
}

a {
  margin: auto;
}

table {
  margin: auto;
  font-size: small;
  text-align: left;
  border: 2.5px solid rgba(192, 21, 204, 0.821);
  font-style: 100;
}

td,
th {
  border: 1px solid rgba(192, 21, 204, 0.821);
  color: black;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

div {
  padding: 5px;
}

.pic:hover {
  color: rgb(53, 224, 31);
}
